

.dropdown{
  position: none !important;
}
.left {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  background-color: #397e66;
  /* height: 100%; */
  color: #fff;
}

.right {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  background-color: #fff;
  height: 100%;
  color: #3d231b;
}

@media (max-width: 991px) {
  .left {
    /* height: 50%; */
  }

  .right {
    /* height: 50%; */
  }
}

.code_block code{
   border-radius: 3px;
  border: 4px solid #ccc;
 /* overflow: auto; */
}

.code_listing {
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #513127c0;}

.code_listing_content{
  max-height: 300px;
overflow: auto;
}

#codeSnippets{
padding-right: 30px;
}

.hide {
  display: none;
}

.form_content{
border: 1px solid #ccc;
border-radius: 3px;
background-color: #513127c0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:  #787878c0;
  color: #fff;
}
